<html>
<head>
    <title>Word Matcher</title>
</head>
<body>
    <h1>This website allows you to enter a word, then enter a list of words, and check how many times that word appears in the list.</h1>
</body>
</html>
