<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <title>Repeat Counter</title>
</head>
    <body>
      <div class="container">
        <h3>This website allows you to enter a word, then enter a list of words, and check how many times that word appears in the list.</h3>
        <br>
        <form action="/result">
            <label for="word">Enter a word to be counted:</label>
            <input type="text" id="word" name="word">
            <label for="sentence">Enter a sentence, a paragraph, or just a list of words:</label>
            <input type="text" id="sentence" name="sentence">

          <button class="btn btn-success" type="submit">Count the repeat</button>
        </form>
      </div>
    </body>
</html>
